img {
    max-width: 100%;
    max-height: 300px;
}
.title {
    display: block;
    font-size: 20px;
    padding: 10px 10px 10px 20px;
}
.info {
    margin: 0;
    padding: 0 20px 20px;
    height: 48px;
    font-size: 12px;
    line-height: 28px;
    color: #999 !important;
}
.content {
    padding: 0 20px 70px;
}