/node_modules
/public/hot
/public/storage
/public/uploads
/public/cover
/public/adverts
/public/sitemap
/public/m
/public/match
/public/index.html
/storage/*.key
/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
composer.lock
/public/live
/public/json
publish.sh
